.guitarspage {
  position: relative;
  min-height: 100vh;
}

.guitar_background {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('img/guitarbackground.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.content-center1 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 30px;
  margin-bottom: 32px;
}

.logo-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

.welcome-message {
  margin-left: auto;
  text-align: right;
}

.topbar1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  background-color: #000;
}

.top-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.top-links li {
  padding: 10px;
  margin: 0 120px;
}

.top-links a {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.about-us-stats-container {
  display: flex;
  margin: 50px auto;
  max-width: 1200px;
}

.about-us-section {
  flex: 70%;
  padding-right: 20px; /* Add spacing between sections */
}

.stats-section {
  flex: 30%;
  padding-left: 20px; /* Add spacing between sections */
  background-color: #fff; /* White background */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.about-us-content {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  border-radius: 10px;
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */
}

.about-us-content h2 {
  margin-bottom: 20px;
  color: #333; /* Dark text color */
}

.about-us-content p {
  margin-bottom: 10px;
  color: #555; /* Slightly darker text color */
}

.stats-section h2 {
  margin-bottom: 20px;
  color: #333; /* Dark text color */
}

.stats-section img {
  max-width: 100%;
  height: auto;
}

.points-of-interest1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #000;
}

.point-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point {
  color: white;
  margin: 10px 0;
  position: relative;
  cursor: default;
  text-align: center;
}

.point::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.point:hover::after {
  width: 100%;
  background-color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .points-of-interest {
    flex-direction: column;
  }
  .point-column {
    width: 100%;
  }
}
