.homepage {
  position: relative;
  min-height: 100vh;
}

.homepage_background {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('img/homepagebackground.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.content-center {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 30px;
  margin-bottom: 32px;
}

.logo-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

.welcome-message {
  margin-left: auto;
  text-align: right;
}

.topbar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  background-color: #000;
}

.top-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.top-links li {
  padding: 10px;
  margin: 0 120px;
}

.top-links a {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.top-links a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  width: calc(33.333% - 20px);
  margin: 10px;
  text-align: center;
}

.item-image {
  width: 100%;
  height: auto;
  background-color: #fff;
  margin-bottom: 10px;
}

.item-price {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
.topbar,
.content {
  flex-direction: column;
}

.nav-links {
  flex-direction: column;
  align-items: center;
}

.nav-links li {
  width: 100%;
  text-align: center;
}

.item {
  width: calc(50% - 20px);
}
}

@media (max-width: 480px) {
.item {
  width: 100%;
}
}

.slideshow-container {
  position: relative;
  width: 100%;
  margin: 0 -5px;
  overflow: visible;
  height: 500px;
  margin-top: 20px;
}

.slides {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.slide {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.slide.active {
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #DADADA;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
  width: 30px;
  height: 30px;
}

.arrow.prev {
  left: 17px;
}

.arrow.next {
  right: 10px;
}

.accessories-section {
  background-color: rgba(128, 128, 128, 0.5);
  margin: 20px 170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.accessories-text {
  background-color: rgba(128, 128, 128, 0.9);
  margin: 00px 170px;
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
  align-items: center;
}

.accessories-description {
  background-color: rgba(128, 128, 128, 0.9);
  margin: 0px 170px;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-description1 {
  max-width: 65%;
  margin: auto;
}

.accessory-container {
  width: calc(33.333% - 100px);
  margin: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.accessory-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.accessory-image {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.accessory-name {
  font-size: 30px;
  overflow: hidden;
  background-color: rgba(128, 128, 128, 0.7);
}

.accessory-link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.accessory-link:hover {
  color: #555;
}

@media (max-width: 768px) {
  .accessory-container {
    width: calc(33.333% - 40px);
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .accessory-container {
    width: calc(33.333% - 40px);
    margin: 20px;
  }
}

.social-media-text {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  background-color: rgba(128, 128, 128, 0.9);
  margin: 20px 170px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: rgba(128, 128, 128, 0.9);
  margin: 20px 170px;
  margin-bottom: 30px;
}

.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  width: auto;
}

.social-media-link:hover {
  background-color: #f0f0f0;
}

.social-media-link .fa-facebook {
  color: #3b5998;
}

.social-media-link .fa-twitter {
  color: #1da1f2;
}

.social-media-link .fa-instagram {
  color: #e1306c;
}

.social-media-link .fa-icon {
  margin-right: 8px;
}

.social-media-link {
  flex: 0 0 auto;
}

.points-of-interest {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #000;
}

.point-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point {
  color: white;
  margin: 10px 0;
  position: relative;
  cursor: default;
  text-align: center;
}

.point::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.point:hover::after {
  width: 100%;
  background-color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .points-of-interest {
    flex-direction: column;
  }
  .point-column {
    width: 100%;
  }
}
