.sheetspage {
  position: relative;
  min-height: 100vh;
}

.sheet_background {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('img/sheetbackground.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}

.content-center1 {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 30px;
  margin-bottom: 32px;
}

.logo-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100%;
  height: auto;
}

.welcome-message {
  margin-left: auto;
  text-align: right;
}

.topbar1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  background-color: #000;
}

.top-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.top-links li {
  padding: 10px;
  margin: 0;
  width: 150px;
  text-align: center;
}

.top-links a {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.top-links a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .top-links li {
    width: 100%;
    margin-bottom: 10px;
  }

  .topbar {
    flex-direction: column;
  }
}

.sheet-section-description {
  background-color: rgba(128, 128, 128, 0.8);
  margin: 50px 170px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 4px;
}

.inner-description {
  max-width: 50%;
  margin: auto;
}

.sheet-section {
  margin: 20px 170px;
  background-color: rgba(128, 128, 128, 0.4);
  display: flex;
  flex-direction: column;
}

.sheet-row {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.sheet-column {
  width: calc(33.333% - 20px);
  margin: 10px;
}

.sheet-column:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.sheet-image {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sheet-name {
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sheet-link {
  color: #fff;
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  margin: 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  text-align: center;
}

.column img {
  max-width: 100%;
  height: auto;
}

.column a {
  display: block;
  margin-top: 10px;
  color: #000;
  text-decoration: none;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}

.points-of-interest1 {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #000;
}

.point-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.point {
  color: white;
  margin: 10px 0;
  position: relative;
  cursor: default;
  text-align: center;
}

.point::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 50%;
  background-color: transparent;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.point:hover::after {
  width: 100%;
  background-color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .points-of-interest {
    flex-direction: column;
  }
  .point-column {
    width: 100%;
  }
}
